<h1>Hello WOrld</h1>
<p> This is my first webpage !!!</p>
<p>My name is {{first_name}}</p>
<p>{{stuff|striptags }}</p>
{{favourite}}

<h3>Favourite</h3>
{% for topping in favourite %}
    {% if topping==123456 %}
        {{topping-5623}}
    {% else %}
        {{ topping }}<br/>
    {% endif %}
{% endfor %}
<!-- trim will remove trainling and leading spaces -->
<!-- title will capitalize every letter in every word -->
<!-- striptags will remove the tag which is passed along with the data entry -->
<br/><br/>
{{favourite.4*1000}}
